<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9EcA9pHEjp9Fpi-VV_TiQURTwu12B0BQ</string>
	<key>GCM_SENDER_ID</key>
	<string>945271796769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ensenchat.ensenchatflutter</string>
	<key>PROJECT_ID</key>
	<string>ensenchat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ensenchat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945271796769:ios:22ecd1bc374e39552c9f60</string>
</dict>
</plist>